@model IEnumerable<WebUI.Models.PreviewSectionViewModel>


@foreach (var item in Model.Reverse())
{
    <li>
        @Html.Raw("<img class='previewImg' id='" + item.ImageId.ToString() + "' style='width:180px; height:150px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\" />")
    </li>
}

<script>
    $(document).ready(function () {
        loadFullsizeImage();
        hangClickHandlers();
    })
</script>
